<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand clickable" ng-click="goToTop()">WikiApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <!-- List of first level routes -->
        <li ui-sref-active="active" ng-repeat="(route, children) in routes" ng-class="{'dropdown': !isEmpty(children)}">
          <a ng-if="isEmpty(children)" ui-sref="{{ route }}">{{ formatRouteDisplayName(route) }}</a>
          <a ng-if="!isEmpty(children)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ formatRouteDisplayName(route) }}<span class="caret"></span></a>
          <ul ng-if="!isEmpty(children)" class="dropdown-menu">
          
            <!-- List of second level routes -->
            <li ng-repeat="(sub_route, sub_children) in children" ng-class="{'dropdown-submenu': !isEmpty(sub_children)}">
              <a ng-if="isEmpty(sub_children)" ui-sref="{{ route + '.' + sub_route }}">{{ formatRouteDisplayName(sub_route) }}</a>
              <a ng-if="!isEmpty(sub_children)" role="button">{{ formatRouteDisplayName(sub_route) }}</a>
              <ul ng-if="!isEmpty(sub_children)" class="dropdown-menu">
              
                <!-- List of third level routes -->
                <li ng-repeat="(sub_sub_route, sub_sub_children) in sub_children" ng-class="{'dropdown-submenu': !isEmpty(sub_sub_children)}">
                  <a ng-if="isEmpty(sub_sub_children)" ui-sref="{{ route + '.' + sub_route + '.' + sub_sub_route }}">{{ formatRouteDisplayName(sub_sub_route) }}</a>
                  <a ng-if="!isEmpty(sub_sub_children)" role="button">{{ formatRouteDisplayName(sub_sub_route) }}</a>
                  <ul ng-if="!isEmpty(sub_sub_children)" class="dropdown-menu">
                    
                    <!-- List of fourth level routes -->
                    <li ng-repeat="(sub_sub_sub_route, sub_sub_sub_children) in sub_sub_children">
                      <a ui-sref="{{ route + '.' + sub_route + '.' + sub_sub_route + '.' + sub_sub_sub_route }}">{{ formatRouteDisplayName(sub_sub_sub_route) }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="dropdown-toggle txt-left" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle"></i></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="about.markdown-cheatsheet">Markdown cheatsheet</a></li>
            <li><a ui-sref="about.documentation">Documentation</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="about.release-notes">Release notes</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search on page">
        </div>
      </form>
    </div>
  </div>
  <script>
  $('input[type="text"').jsearch({
      rowClass: 'section',
      fieldClass: 'section'
  });
</script>
</nav>